################################# DATABASES ########################################
USER_DB_PORT=
USER_DB_USER=
USER_DB_PASSWORD=

NOTIFICATION_DB_PORT=
NOTIFICATION_DB_USER=
NOTIFICATION_DB_PASSWORD=

############################### RBBITMQ ############################################
USER_RABBITMQ_AMQP_PORT=
USER_RABBITMQ_MANAGEMENT_PORT=
USER_RABBITMQ_USER=
USER_RABBITMQ_PASSWORD=

#############################33 REDIS #############################################
USER_REDIS_PORT=
USER_REDIS_PASSWORD=
